body{
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    line-height: 1.2em;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #e6e6e6;
}

header{
    background-color: rgb(35, 72, 114);
    color: #e6e6e6;
    padding: 5px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px gray;
}

#tabellone{
    max-width: 850px;
    margin: 0 auto;
    border-radius: 10px;
    /*border: 1px solid rgb(35, 72, 114) ;*/
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px gray;
}
.celle{
    display: inline-block;
    width: 83px;
    height: 35px;
    /*border: 1px solid gray;*/
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    margin: 1px;

    
}

.estratte{
    background-color:rgb(35, 72, 114);
    color: #e6e6e6;
}

#estrai{
    background-color: brown;
    border-style: none;
    color: #e6e6e6;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 10px gray;
}

#estrai:hover{
    background-color: rgb(199, 65, 65);
}

#ultimoEstratto{
    display: inline-block;
    background-color: rgb(0, 87, 0);
    color: white;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;

}
#ultimoEstratto span{
    font-size: 1.3em;
    font-weight: 700;
}
