<div class="container mb-5" style="min-height:calc(100vh - 86px);">
    <h2 class="text-center my-5">Su di noi</h2>
    <p><b>Chi siamo</b></p>
    <strong>GAB-RENT</strong> è un autosalone presente sul territorio fin dal 1995. Da allora, ci impegniamo a fornire
    ai nostri clienti un servizio di alta qualità e una vasta gamma di prodotti e servizi per soddisfare tutte le loro
    esigenze automobilistiche.
    <hr>
    <p><b>Cosa offriamo</b></p>

    <ul>
        <li>Vasta gamma di auto nuove e usate</li>
        <li>Servizio di assistenza e manutenzione</li>
        <li>Officina meccanica autorizzata</li>
        <li>Carrozzeria</li>
        <li>Finanziamenti e leasing</li>
        <li>Assicurazioni</li>
    </ul>

    <p><b>Perchè sceglierci</b></p>
    <ul>
        <li>Professionalità e competenza</li>
        <li>Cortesia e onestà</li>
        <li>Prezzi competitivi</li>
        <li>Massima attenzione alla soddisfazione del cliente</li>
        <li>Vieni a trovarci!</li>
    </ul>

    <p><b>Come trovarci</b></p>
    <ul>
        <li>INDIRIZZO: Via Roma, 95, 00054 Fiumicino (RM)</li>
        <li>TELEFONO: 06/6543210</li>
        <li>EMAIL: gab.rent@gmail.com</li>
    </ul>

</div>