<div class="container">
    <div class="row">
        <div class="col-12 col-lg-3"></div>
        <div class="col-12 col-lg-6">
            <h1 class="text-center mt-4">Registrati</h1>
            <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
                <div class="form-group">
                    <label for="name" class="form-label">Nome Completo</label>
                    <input type="text" id="name" name="name" required class="form-control" ngModel>
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" name="email" required class="form-control" ngModel>
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" required class="form-control" ngModel>
                </div>
                <button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary mt-4">Registrati</button>
            </form>

        </div>
        <div class="col-12 col-lg-3"></div>
    </div>

</div>