@import 'partials/colori';
@import 'partials/font';
@import 'partials/buttons';
@import '../scss/mixins/mixins';
@import 'partials/animation';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
#nomeAzienda {
    @include titolone;
}

h1 {
    font-size: $fontBig;
    letter-spacing: -4px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#heroSect {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#titolo {
    width: 50%;
}
#immagineTop{
    width: 40%;
}
#immagineTop img{
    @include stileImg(3px solid rgb(224, 224, 224), 8px 8px 20px rgb(65, 65, 65));
    opacity: 0;
    @include fade-in(1s, 500px, 200px, 2s, fadeIn);
}

nav ul {
    display: flex;
    padding-inline-start: 0;
    margin-inline-start: 0;
    list-style-type: none;
}

li {
    padding-left: 20px;
}

li a:link,
li a:visited {
    text-decoration: none;
    color: white;
    &:hover{
        color: red;
    } 
}

header,
#heroSect {
    padding: 40px;
    background-color: map-get($map: $colori, $key: navhero);
}

img {
    max-width: 100%;
}

p {
    font-size: $fontMedium;
    color: white;
}

#fotoOrizzontali {
    margin: 300px 0;
    display: flex;
    justify-content: space-between
}

#fotoOrizzontali img {
    @include stileImg(none, none);
    width: 22%;
}