html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    background-color: #131334;
    color: #ebebeb;
}

.container{
    max-width: 992px;
    margin: 0 auto;
}

h1{
    font-size: 64px;
    font-weight: 900;
    margin: 1rem 0;
    
}
h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.day{
    display: inline-block;
    width: 14%;
    height: 100px;
    position: relative;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;

}
.day:hover{
    background-color: #15132e;
}

.day h3 {
    text-align: center;
    font-size: 26px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(50%);
}

.day.selected{
    border-color: #7a408a;
}

form {
    display: inline;
}

#addMeeting div {
    display: inline-block;
    margin-right: 48px;
    vertical-align: bottom;
}

input {
    width: 130px;
    min-height: 36px;
    background-color: #0c0b1d;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    color: #ebebeb;
}

input:focus {
    background-color: #2d2a59;
}

input:focus::placeholder {
    color: #615d9c;
}

#newMeetingDay {
    display: inline-block;
    min-height: 40px;
}

#newMeetingName {
    width: 200px;
}

#newMeetingTime::-webkit-calendar-picker-indicator{
    background-color: #7a408a;
    border-radius: 50%;
    cursor: pointer;
    
}

form button {
    cursor: pointer;
    background-color: #7a408a;
    color: #efd7f5;
    border: none;
    width: 130px;
    min-height: 36px;
    font-weight: 700;
    padding: 10px;

}

#appointments{
    display: none;
}