<div class="container-fluid py-3" id="footer">
    <div class="container text-light">
        <div class="row">
            <div class="col-4 d-flex">
                <div class="text-center">
                    <img src="../../../assets/img/logo.png" alt="" height="60">
                    <p class="mb-3">Con voi dal 1995</p>
                    <p class="my-0">Via Roma, 95</p>
                    <p class="my-0">00054 Fiumicino (RM)</p>
                    <p class="my-0">☎️ 06/6543210</p>
                    <p class="my-0">📧 gab.rent@gmail.com</p>
                </div>
            </div>
            <div class="col-4">
                <a class="border-end border-2 px-3" [routerLink]="['/']">Home</a>
                <a class="border-end border-2 px-3" [routerLink]="['/audi']">Audi</a>
                <a class="border-end border-2 px-3" [routerLink]="['/fiat']">Fiat</a>
                <a class="border-end border-2 px-3" [routerLink]="['/ford']">Ford</a>
            </div>
            <div class="col-4 d-flex justify-content-end">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla expedita mollitia consequatur? Dicta aliquid vel, obcaecati eaque reiciendis natus eius, esse ipsum maxime vero doloremque sapiente voluptatibus laudantium voluptate iste. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam atque quos, consectetur velit non nisi culpa error minus exercitationem id aut minima quod saepe nostrum dolor, fugit animi. Ratione, odio? </p>
            </div>
        </div>
    </div>
</div>