<div class="container-fluid py-3" id="footer">
    <div class="container text-light">
        <div class="row">
            <div class="col-4 col-lg-4 d-flex mb-3">
                <div class="text-center">
                    <img src="../../../assets/img/logo.png" alt="" height="60">
                    <p class="mb-3">Con voi dal 1995</p>
                    <p class="my-0">Via Roma, 95</p>
                    <p class="my-0">00054 Fiumicino (RM)</p>
                    <p class="my-0">☎️ 06/6543210</p>
                    <p class="my-0">📧 gab.rent@gmail.com</p>
                </div>
            </div>
            <div class="col-8 col-lg-4 mt-3">
                <a class="border-end border-2 px-3" [routerLink]="['/']">Home</a>
                <a class="border-end border-2 px-3" [routerLink]="['/audi']">Audi</a>
                <a class="border-end border-2 px-3" [routerLink]="['/fiat']">Fiat</a>
                <a class="border-end border-2 px-3" [routerLink]="['/ford']">Ford</a>
            </div>
            <div class="col-12 col-lg-4 d-flex justify-content-end">
                <p><i>GAB-RENT è un autosalone presente sul territorio fin dal 1995.<br> Da allora, ci impegniamo a fornire ai nostri clienti un servizio di alta qualità e una vasta gamma di prodotti e servizi per soddisfare tutte le loro esigenze automobilistiche. </i> </p>
            </div>
        </div>
    </div>
</div>