<h1 class="text-center my-4">Completi</h1>

<div class="container">
  <table class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th  scope="col">Change</th>
          <th scope="col">To-Do</th>
          <th scope="col">ID</th>
          <th scope="col">User ID</th>
        </tr>
      </thead>
    <tbody>
      <tr [ngClass]="todo.completed? 'table-success':'table-danger'"  class="table-info" *ngFor="let todo of completed, let i=index">
        <th scope="row">{{i+1}}</th>
        <td *ngIf="!todo.completed"><button type="button"  class="btn btn-outline-dark rounded-pill py-2" (click)="toggleStatus(todo.id)">✔️</button></td>
        <td  *ngIf="todo.completed"><button type="button" class="btn btn-outline-dark rounded-pill py-2" (click)="toggleStatus(todo.id)">✖️</button></td>
        <td>{{todo.todo}}</td>
        <td>{{todo.id}}</td>
        <td>{{todo.userId}}</td>
      </tr>
      
  </table>
</div>