html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #752305;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2rem;

}

/*HEADER*/

header {
    display: flex;
    justify-content: center;
}

nav {
    background-color: #FEF7E2;
    font-weight: 700;
    border-radius: 100px;
    padding: 20px 0;
    width: 95%;
    margin: 20px;

}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin-inline-start: 0;
    padding-inline-start: 0;
}

li {
    background-color: #FFDF7F;
    margin: 10px;
    width: 40%;
    padding: 20px 0;
    border-radius: 40px;
    text-align: center;
}

#shop {
    width: 80%;
    padding: 40px 20px;
    border-radius: 80px;
    font-size: 2em;
}

li img {
    width: 10%;
}

/*MAIN*/

h1 {
    font-weight: 900;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 1em;
}

h2{
    font-weight: 900;
    text-align: center;
    width: 60%;

    margin: 20px 40px;
    line-height: 1em;
}

.cardsContainer {
    display: flex;
    justify-content: center;
}

.cards {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    background-color: #FEF7E2;
    width: 90%;
    border-radius: 60px;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-top: 40px;
}

.cards img {
    width: 100%;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

#infoProd {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#nome {
    text-align: center;
    width: 65%;
    margin: 0;
}

.prezzo {
    width: 35%;
    font-weight: 700;
    text-align: center;
}

.addCart {
    background-color: #FFDF7F;
    font-weight: 700;
    padding: 10px;
    width: 50%;
    text-align: center;
    border-radius: 20px;
    margin-top: 30px;
}

/*ASIDE*/

h2 {
    font-size: 2em;
    margin-top: 50px;
}

h3 {
    padding: 30px 0 20px 20px;
    margin: 0;
    font-weight: 900;

}

.testo {
    background-color: #FEF7E2;
    width: 90%;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-top: 20px;
    border-radius: 40px;
    padding-bottom: 20px;
}

.testo p {
    padding: 0 30px;
    margin-top: 0;
}

.testo div {
    width: 85%;
    margin: 0 auto;
}

.testo div img {
    width: 100%;
}


/*MEDIA QUERIES*/

@media screen and (min-width: 768px) {
    ul {
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: baseline;
    }

    #shop {
        width: 50%;
        padding: 40px 20px;
        border-radius: 80px;
        font-size: 2em;
        order: -0.5;
    }

    li img {
        width: 20%;
    }

    #ourHoney {
        order: -2;
    }

    #traceHoney {
        order: -1;

    }

    .cards {
        width: 42%;
        flex-wrap: wrap;
    }


    #cardsContainer {
        display: flex;
        flex-wrap: wrap;
    }

    #ultimo {
        display: none;
    }

    h2 {
        text-align: left;
    }
}
@media screen and (min-width:1200px) {

    body{
        padding-left: 330px;
    }
    nav{
        position: fixed;
        left: 0;
        width: 300px;
        height: 100%;
        border-radius: 0;
        margin: 0;
    }

    #shop{
        order: -3;
        width: 200px;
        padding: 20px 0;
    }

    ul{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 90%;
   
    }

    li {
        width: 200px;
        height: 50px;
    }

    .cards{
        width: 22%;
    }

    #nome p{
        margin-top: 0;
    }

    #nome h3 {
        padding-bottom: 5px;
    }

    .addCart{
        margin-top: 0;
    }

    h1,h2 {
        text-align: left;
        width: 100%;
    }
}

@media screen and (min-width:1440px) {
    #ultimo {
        display: block;
    }

    .cards{
        width: 18%;
    }
}