body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  animation: name duration timing-function delay iteration-count direction fill-mode;
}

button {
  margin: 8px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  opacity: 0;
}

button:hover,
button:active {
  transform: scale(0.9);
}

#btn1 {
  background-color: #0e6cff;
  animation: btnFade 1s ease-out 0.5s 1 forwards;
}
@keyframes btnFade {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#btn2 {
  background-color: #ff8700;
  animation: btnFade 1s ease-out 1s 1 forwards;
}
@keyframes btnFade {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#btn3 {
  background-color: #4caf50;
  animation: btnFade 1s ease-out 1.5s 1 forwards;
}
@keyframes btnFade {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

a {
  animation: name duration timing-function delay iteration-count direction fill-mode;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
#nomeAzienda {
  font-weight: 900;
}

h1 {
  font-size: 70px;
  letter-spacing: -4px;
}

header, #heroSect {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

#heroSect {
  align-items: center;
}

#titolo,
#immagineTop,
#nomeAzienda,
nav {
  width: 40%;
}

#immagineTop img {
  width: 100%;
  border: 3px solid rgb(224, 224, 224);
  border-radius: 10px;
  margin: 15px;
  box-shadow: 8px 8px 20px rgb(65, 65, 65);
  opacity: 0;
  animation: fadeIn 1.5s ease-out 2s 1 forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    transform: translateY(200px);
  }
}

nav ul {
  display: flex;
  justify-content: flex-end;
  padding-inline-start: 0;
  margin-inline-start: 0;
  list-style-type: none;
}

li {
  padding-left: 20px;
}

li a:link,
li a:visited {
  text-decoration: none;
  color: white;
}
li a:link:hover,
li a:visited:hover {
  color: red;
}

header,
#heroSect {
  padding: 40px;
  background-color: #640fc5;
}

p {
  font-size: 25px;
  color: white;
}

#fotoOrizzontali {
  margin: 300px 0;
  display: flex;
  justify-content: space-evenly;
}

#fotoOrizzontali img {
  border: none;
  border-radius: 10px;
  margin: 15px;
  box-shadow: none;
  width: 22%;
}
