/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body{
    font-family: "Bree Serif", serif;
    font-size: 1.5em;
}

main{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#testoAlternato{
    width: 70%;
    border: 5px solid black;
    padding: 30px 50px;
    line-height: 2em;

}

.parole {
    position: relative;
}

.parole i {
    width: 300px;
    position: absolute;
    left:7px;
    color: transparent;
    animation: parole 9s linear infinite 0s;
}

.parole i:nth-child(2) {

    animation-delay: 3s;
}

.parole i:nth-child(3) {
    animation-delay: 6s;
    
}

@keyframes parole {
	from {
		color: transparent;
		top: -20px;
	}
	25% {
		color: rgb(0, 110, 101);
		top: -7px;
	}
	50% {
		color: transparent;
		top: 20px;
	}
}

