<div class="container">
    <h2 class="text-center">Post attivi</h2>
    <div class="container">
        <div class="row">
            <ng-container *ngFor="let post of posts; let i = index">
                <div class="col-3" *ngIf="post.completed">
                    <div class="card">
                        <!-- Il componente padre active post passa al componente figlio postcard il singolo post, chiamandolo esattamente col nome con cui è definito nel componente figlio, cioè post -->
                        <app-post-card [post]="post" class="bg-success">
                            <button
                                type="button"
                                class="btn btn-primary btn-sm"
                                (click)="disablePost(post.id, i)"
                            >
                                DISATTIVA
                            </button>
                            <button
                                type="button"
                                class="btn btn-secondary ms-1 btn-sm"
                                [routerLink]="['/activePosts', post.id]"
                            >
                                DETTAGLI
                            </button>
                        </app-post-card>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
