<div class="container text-center">
    <h1>Lista post jsonPlaceHolder style</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-6 text-center">
                <a [routerLink]="['/activePosts']" class="btn btn-primary">Vai ai post attivi</a>
            </div>
            <div class="col-6 text-center">
                <a [routerLink]="['/inactivePosts']" class="btn btn-primary">Vai ai post non attivi</a>
            </div>
        </div>
    </div>
</div>
