<h1 class="text-center">HOMEPAGE</h1>
<div class="container px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi minima iure, enim quo
    laudantium minus consequatur dolore impedit numquam. Beatae molestiae dolorum iusto deleniti ducimus. Nam
    perspiciatis repellat provident ut.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, nam! Dolorem facilis vitae assumenda blanditiis quae
    suscipit, sint excepturi, explicabo sunt quidem nesciunt non natus consequuntur, quis nam? Est, culpa! Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Maxime beatae accusamus nisi iste eaque reprehenderit sequi magnam
    natus unde dolore molestiae, itaque ipsa blanditiis, rerum sint minus. Qui, totam vitae.
</div>