header {
    background-color: #131921;
}

#logo {
    width: 100px;
}

.linkDx:link,
.linkDx:visited {
    color: white !important;
    transition: transform 0.3s;
}

.linkDx:link:hover,
.linkDx:visited:hover {
    color: rgb(204, 204, 204) !important;
    transform: scale(1.1);
}

#linkBack {
    transition: transform 0.3s;
    text-decoration: none;
}

#linkBack:link:hover,
#linkBack:visited:hover {
    transform: scale(1.1);
    
}