body{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(66, 66, 66);
    color: white;
}

#container{

    padding: 100px;
    border-radius: 15px;
    background-color: rgb(37, 37, 37);
}
input{
    height: 30px;
    border-radius: 10px;
}
#button{
    height:35px;
    border-radius: 10px;
    
}
li{
    list-style: none;
    cursor: pointer;
    user-select: none;
   
    
}
.elimina{
    text-decoration: none;
    border-radius: 10px;
}


.clicked{
    text-decoration: line-through;
    cursor: pointer;
    user-select: none;
}
