/* Your styles here */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E9EDEE;
}

.bg-darkblue{
    background-color: #222F3F;
}
.bg-blue{
    background-color: #364759;
    color: white;
    padding: 10px 30px;
    margin: 0;
}

#BTT:link, #BTT:visited{
    color: white;
    font-weight: bold;text-align: center;
}

#topLogo{
    width: 170px;
    padding: 10px 30px;
}
.navbar{
    display: inline-block;
    padding: 0 10px;
}

#banner{
    background-color: #F56600;
    margin: 30px;
    padding: 10px;
    text-align: center;
    color: white;
}
#titolo{
    background-image: url(../images/bg-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    text-align: center;
    padding: 30px;
    margin:30px;
}
h1{
    font-size: 1.7em;
}
span{
    color: #22747D;
    font-size: 0.9em;
    font-weight: bold;
}

#perfectGift{
    background-color: white;
    margin: 30px;
   text-align: center;
}

#perfectGift h3{
text-align: left;
font-weight: 400;
margin: 10px;
padding: 10px;
}
.img1_4{
    display: inline-block;
    width: 300px;
    height: 420px;
    margin: 20px 30px;
    /*border: 1px solid black;*/
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(172, 172, 172);

}
#img1{
    background-image: url(../images/img_1.jpg);
}
#img2{
    background-image: url(../images/img_2.jpg);
}
#img3{
    background-image: url(../images/img_3.jpg);
}
#img4{
    background-image: url(../images/img_4.jpg);
}

#img1, #img2, #img3, #img4{
background-position: center;
}

.largo img{
    width: 100%;

}

.largo{
    margin: 0 30px;
    text-align: center;
}
.titolini{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
    font-weight: 400;
}

footer{
    text-align: center;
}
#logoBottom{
    width: 250px;
    margin: 30px;
}