#neubar {
    background: #4E6366;
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.4);
}

.nav-item .active {
    border-radius: 6px;
    background-color: #283335;
    box-shadow: 4px 4px 8px #7d9ea3,
        -4px -4px 8px #7d9ea3;

}

#neubar .nav-item {
    margin: auto 4px;
}

#neubar a {
    padding-left: 12px;
    padding-right: 12px;
}

#neubar .dropdown-menu {
    background: #545454
}
