#logo {
    width: 120px;
}

svg {
    fill: #6c757d;
    
}

#avatar,
#avatarAccount {
    width: 40px;
}

#navbarDX {
    width: 30%;
    max-width: 220px;
}

@media screen and (max-width: 991px) {
    #navbarDX {
        width: 100%;
        
    }
}

.film{
    cursor: pointer;
    transition: scale 0.3s;
}

.film:hover{
    scale: 1.2;
}

#paypal{
    width: 70px;
}


