<div class="container-fluid bg-body-secondary my-5 px-4 py-5 rounded-3">
    <h5>Potrebbero piacerti:</h5>
    <app-laterale-card></app-laterale-card>
    <app-laterale-card></app-laterale-card>
    <app-laterale-card></app-laterale-card>
    <app-laterale-card></app-laterale-card>
    <h5>Vedi anche:</h5>
    <div class="container bg-light my-3">
        <p class="p-2 mb-0 border-bottom border-dark"><a href="#">Post attivi</a></p>
        <p class="p-2 mb-0"><a href="#">Post inattivi</a></p>
    </div>

</div>
