<h3 class="text-center bg-warning p-3">Sono il componente A figlio del componente Secondo</h3>
<div class="container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur saepe deserunt, necessitatibus blanditiis a reiciendis consectetur architecto ullam maxime ipsam aliquid magnam id beatae veritatis pariatur reprehenderit expedita! Voluptatem, impedit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident debitis, reprehenderit, pariatur beatae corporis, possimus voluptate omnis excepturi perferendis laboriosam placeat deserunt nostrum! Voluptate illum obcaecati eligendi est rem possimus.
    </p>
</div>