html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/*HEADER*/

header{
    background-color: #ffc017;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 8%; 
    border-bottom: 2px solid black;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 1s;
}




nav{
    width: 45%;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 0;
    margin-inline-start: 0;
    list-style: none;
}

#getStarted{
    background-color: #191919;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 1s;
}

/*MAIN*/

#heroSect{
    background-color: #ffc017;
    border-bottom: 2px solid #191919;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    padding: 0 8%;
    margin-bottom: 50px;
}

h1 {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-size: 3.5em;
    letter-spacing: -5px;
    margin: 0;
    line-height: 1em;
}

#startReading {
    display: inline-block;
    background-color: #191919;
    color: white;
    padding: 10px 60px;
    border-radius: 30px;
    cursor: pointer;
}

#titoloTrends{
    display: flex;
    align-items: center;
    padding: 0 8%;
    font-size: smaller;
    
}

#trending {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 8%;
    font-size: 0.9em;
    border-bottom: 2px solid #191919;
    margin-bottom: 50px;
}

.trends{    
    padding: 5px 38px;
    position: relative;
    width: 25%;
    height: 220px;
    
}

.author{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 0.9em;
}

.author img{
    width: 23px;
    border-radius: 50%;
}

.number {
    position: absolute;
    top: 10px;
    left:0;
    font-size: 2em;
    font-weight: 900;
    margin: 0;
    color: #E5E6E5;

}

.newsDate{
    color: gray;
    letter-spacing: 0;
    display: flex;
    align-items: end;

    
}

.badge{
    background-color: rgb(228, 228, 228);
    padding: 5px 10px;
    border-radius: 15px;
}

/*CONTENUTI SX*/

#principale {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 1600px;
    padding: 0 8%;
}

#containerSX {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 58%;
    height: 1600px;
}

.notizie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

#immagineNotizia {
    width: 30%;
}

#immagineNotizia img {
    max-width: 100%;
}

#infoNotizia{
    width: 60%;
    position: relative;
}

.bookmark {
    position: absolute;
    bottom: 0;
    right: -10px;
}

.newsDesc {
    color: gray;
}

/*CONTENUTI DX*/

#containerDX {
    width: 38%;
    position: sticky;
    top: 100px;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.tags{
    font-size: 0.9em;
    color: gray;
    border: 1px solid gray;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
}

.othersContainer{
    display: flex;
    flex-wrap: wrap;
    
}
.others {
    color: gray;
    font-size: 0.9em;
    padding: 3px 10px;
    margin: 0;
    cursor: pointer;
}





@media screen and (max-width:991px) {
    header,
    #heroSect,
    #titoloTrends,
    #trending,
    #principale {
        padding: 0 30px;
    }

    nav {
        width: 60%;
    }
    #heroSect{
        justify-content: flex-start;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 0;
    }
    #titolo{
        width: 80%;
    }

    .trends{
        width: 39%;
    }
    

    #containerDX {
        order: -1;
        position: static;
    }

    .tags, 
    .others {
        margin: 8px;
    }
    #containerSX,
    #containerDX {
        width: 100%;
    }
    #principale {
        flex-wrap: nowrap;
    }

    .notizie {
        margin: 10px 0;
    }
} 


@media screen and (max-width:767px) {
    header,
    #heroSect,
    #titoloTrends,
    #trending,
    #principale {
        padding: 0 18px;
    }

    ul li:first-child,
    ul li:nth-child(2),
    ul li:nth-child(3),
    #tutteM {
        display: none;
    }
    nav{
        width: 38%;
    }

    #heroSect{
        padding: 50px 18px;
    }

    #titolo {
        width: 70%;
    }

    #trending {
        padding-bottom: 50px;
    }

    .trends{
        width: 100%;
        height: 120px;
        margin: 10px 0;
    }

    .notizie {
        margin: 10px 0;
    }

    #principale {
        flex-wrap: nowrap;
    }

    #containerSX,
    #containerDX {
        width: 100%;
    }

    #containerDX {
        order: -1;
        position: static;
    }

    #containerSX {
        margin-top: 50px;
    }

    .tags, 
    .others {
        margin: 8px;
    }

    #infoNotizia{
        width: 70%;
        position: relative;
    }

    #immagineNotizia {
        width: 27%;
    }

    .newsDate{
        display: flex;
        justify-content: space-between;
    }
    .newsDate img{
        display: none;
    }
}